html {
  height: 100%;
  width: 100%;
}
<style>
  body {background-color:#f7e8f2;}
  h1 {color:#e6b7d6;}
  h1 {font-family: "Lucida Console", "Courier New", monospace;}
  p {color:black;}
  p {font-family: "Lucida Console", "Courier New", monospace;}
  b {color:#e6b7d6;}
  b {font-family: "Lucida Console", "Courier New", monospace;}
  href font-family: "Lucida Console", "Courier New", monospace;}
  li {color:#da96c3;}
</style